---
title: About
layout: default.njk
---

<section class="about">
  <div class="about-content">
    <div class="breadcrumbs">
      <a class="breadcrumbs" href="/">go back home</a>
    </div>
    <h2>Hi there!</h2>
    <p>If you want to contact me, please use Telegram. This is the fastest way to find me online. You can find Telegram link (icon) on the navbar.</p>
  </div>
</section>
