---
title: All posts
layout: default.njk
pagination:
  data: collections.posts
  size: 10
  alias: posts
---

<section class="posts">
  <div class="posts-content">
    <ul class="post-list">
      {%- for post in posts | reverse%}
        <li class="post">
          <a class="post-title" href="{{ post.url }}">{{ post.data.title }}</a>
          
          {% if post.data.description %}
            <p class="post-description">{{ post.data.description }}</p>
          {% endif %}
          
          <div class="meta">
            <time class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </div> 
        </li>
      {%- endfor %}
    </ul>
    
    <section class="pagination"> 
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">prev</a>
      {% endif %}

      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">next</a>
      {% endif %}
    </section>
  </div> 
</section>