<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ global.preTitle }} | {{ title }}</title>
</head>
<body>
  
  <nav>
    <h1 class="logo">Logo</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </nav>

  <main>
    {{ content | safe }}
  </main>

</body>
</html>