<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ global.preTitle }} | {{ title }}</title>
<link rel="stylesheet" href="/assets/main.css">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/highlight.css">
