<header class="header">
  <div class="header-content">
    <h1 class="logo"><a href="/">Bnotes</a></h1>
    <nav class="nav">
      <ul class="nav-items">
        <li class="nav-item"><a href="/uzb">uzb</a></li>
        <li class="nav-item"><a href="/about">about</a></li>
        <li class="nav-item"><a href="https://t.me/bunyodkh" target="_blank">tg</a></li>
      </ul>
    </nav>
  </div>  
</header>