<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.njk" %}
</head>
<body>
  {% include "header.njk" %}

  <article class="post-detail">
    <div class="post-detail-content">
      <div class="breadcrumbs">
        <a href="/">all posts</a>
      </div>  
      {{ content | safe }}
    </div>
  </article>

</body>
</html>