:root {
  --font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 500;
  --font-color: #000;
  --content-width: 800px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  padding: 10px 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

p {
  padding: 10px 0;
  font-weight: var(--font-weight-light);
  line-height: 2em;
}

img {
  width: 100%;
  height: auto;
}

.header {
  max-width: 100%;
  font-family: var(--font-family);
  border-bottom: 1px solid #eee;
}

.header-content {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 20px;
}

.logo > a {
  text-decoration: none;
  font-size: 0.8em;
  color: var(--font-color);
}

.nav-items {
  display: flex;
  list-style-type: none;
}

.nav-item > a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--font-color);
  font-variant: small-caps;
  font-size: 1.1em;
}

.about,
.posts {
  max-width: 100%;
  font-family: var(--font-family);
}

.post {
  padding: 20px 0;
}

.about-content,
.posts-content {
  max-width: var(--content-width);
  margin: 0 auto;
}

.about-content {
  padding: 10px 20px;
}

.about-content > p {
  padding: 10px 0;
  font-weight: var(--font-weight-light);
  line-height: 2em;
}

.post-list {
  list-style-type: none;
  padding: 20px;
}

.post-title {
  text-decoration: none;
  color: var(--font-color);
  font-size: 2em;
  font-weight: var(--font-weight-bold);
}

.post-title:hover {
  border-bottom: 1px solid #eee;
}

.post-description {
  padding: 10px 0;
  line-height: 2em;
  font-weight: var(--font-weight-light);
}

.post-date {
  display: inline-block;
  font-weight: var(--font-weight-light);
  font-size: 0.8em;
  color: #777;
}

.pagination {
  padding: 20px;
}

.pagination > a {
  font-weight: var(--font-weight-light);
  font-size: 0.9em;
  color: #ccc;
  text-decoration: none;
}

.pagination > a:hover {
  color: #777;
}

.post-detail {
  width: 100%;
  font-family: var(--font-family);
}

.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs > a {
  text-decoration: none;
  color: #ccc;
  font-weight: var(--font-weight-light);
  font-size: 0.9em;
} 

.breadcrumbs > a:hover {
  color: #777;
}

.post-detail-content {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 20px;
}

table {
  border-collapse: collapse;
  margin: 10px 0;
}

tbody {
  font-weight: var(--font-weight-light);
  font-size: 0.9em;
}

th {
  font-weight: var(--font-weight-normal);
  text-align: start;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #d5d5d5;
}

.image-caption {
  display: block;
  margin: -10px 0;
  text-align: center;
  color: #777;
  font-size: 0.8em;
  font-style: italic;
}

.tg-logo {
  width: 20px;
  height: 20px;
}